<!-- insert navbar here -->
<!-- <div class="navbar navbar-top navbar-default" id="header">
  <div class="logo-header clearfix">
    <h3> Pawnshop </h3>
  </div>
</div> -->
<sidebar></sidebar>
<div ui-view> </div>



<!-- insert footer here -->
